*
{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body
{
    background: beige;
}

header
{
    background: #000;
    height: 80px;
}

header h2
{
    display: inline-block;
    font-size: 2em;
    color: rgb(167, 37, 37);
    padding-left: 40px;
    padding-top: 25px;
}

.header__nav
{
    display: flex;
    justify-content: right;
    margin-top: -34px;
    margin-right: 200px;
}

.header__nav a
{
    font-size: 1.5em;
    font-weight: bold;
    padding-left: 30px;
    text-decoration: none;
    color: white;   
    
}

